apiVersion: v1
kind: Secret
metadata:
  name: dpip-secrets
  namespace: dpip
  labels:
    app.kubernetes.io/name: dpip-platform
type: Opaque
stringData:
  # Base Django Secret Key
  SECRET_KEY: "prod-secret-key-national-dpip-grievance-infrastructure"
  
  # Google Gemini API Key for AI Triage & Routing
  GEMINI_API_KEY: ""
  
  # SMTP Credentials for Automated Email Notifications
  EMAIL_HOST_USER: "your-notification-email@domain.gov.in"
  EMAIL_HOST_PASSWORD: "your-smtp-app-password-here"
